.footer
  padding: 1%
  background: rgba(#2196F3, 0.5) 
  .owner
    display: flex
    justify-content: flex-end
    font-family: 'Montserrat', cursive
    font-size: 0.8em
    font-weight: 500
  .linkSite
    color: darkred
  .social-links
    margin: 0 0 40px 0
    a
      font-size: 18px
      display: inline-block
      background: #0563bb
      color: #fff
      line-height: 1
      padding: 8px 0
      margin-right: 4px
      border-radius: 50%
      text-align: center
      width: 36px
      height: 36px
      transition: 0.3s
    a:hover
      background: #0678e3
      color: #fff
      text-decoration: none

