.map_and_descriptionX
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  //background-color: aliceblue
  .divMiddle
    padding: 20px 0
    width: 48%
    background: cornsilk
    height: max-content
    .divVieni
      color: darkblue
      font-size: 1.1em
      font-family: 'Montserrat'
    .titleBig
      font-size: 1.2em
    